@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mb-4 fw-bold">
    <i class="bi bi-speedometer2"></i> Panel de Control
</h2>

<div class="row g-4">

    <!-- Pacientes -->
    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <i class="bi bi-people-fill text-primary fs-1"></i>
                <h5 class="mt-2">Pacientes</h5>
                <h2 class="fw-bold">@ViewBag.TotalPacientes</h2>
            </div>
        </div>
    </div>

    <!-- Médicos -->
    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <i class="bi bi-person-badge-fill text-success fs-1"></i>
                <h5 class="mt-2">Médicos</h5>
                <h2 class="fw-bold">@ViewBag.TotalMedicos</h2>
            </div>
        </div>
    </div>

    <!-- Consultas -->
    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <i class="bi bi-clipboard2-pulse-fill text-danger fs-1"></i>
                <h5 class="mt-2">Consultas</h5>
                <h2 class="fw-bold">@ViewBag.TotalConsultas</h2>
            </div>
        </div>
    </div>

</div>
